In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
!pip install --upgrade openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [ ]:
sneakers_data = pd.read_excel('/content/drive/MyDrive/The booming sneaker resale market/Sneakers.xlsx')

In [ ]:
sneakers_data.head()

    Brand Designer  ... Hold_Period_In_Days  Find dash
0  Adidas    Yeezy  ...                 342          7
1  Adidas    Yeezy  ...                 282          7
2  Adidas    Yeezy  ...                 282          7
3  Adidas    Yeezy  ...                 282          7
4  Adidas    Yeezy  ...                 202          7

[5 rows x 14 columns]

In [ ]:
sneakers_data = sneakers_data.drop('Find dash',1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [ ]:
sneakers_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99956 entries, 0 to 99955
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Brand                  99956 non-null  object
 1   Designer               99956 non-null  object
 2   Sneaker_Name           99956 non-null  object
 3   Shoe_Size              99956 non-null  float64
 4   Release_Date           99956 non-null  datetime64[ns]
 5   Retail_Price           99956 non-null  float64
 6   Order_Date             99956 non-null  datetime64[ns]
 7   Year                   99956 non-null  int64
 8   Calendar_Quarter       99956 non-null  object
 9   Order_Period (Q-YYYY)  99956 non-null  object
 10  Resale_Price           99956 non-null  float64
 11  Buyer_Region           99956 non-null  object
 12  Hold_Period_In_Days    99956 non-null  int64
dtypes: datetime64[ns](2), float64(3), int64(2), object(6)
memory usage: 9.9+ MB

In [ ]:
len(sneakers_data.columns)

13

In [ ]:
sneakers_data['Brand'] = sneakers_data['Brand'].astype('string')
sneakers_data['Buyer_Region'] = sneakers_data['Buyer_Region'].astype('string')
sneakers_data['Designer'] = sneakers_data['Designer'].astype('string')
sneakers_data['Sneaker_Name'] = sneakers_data['Sneaker_Name'].astype('string')
sneakers_data['Retail_Price'] = sneakers_data['Retail_Price'].astype(float)
sneakers_data['Resale_Price'] = sneakers_data['Resale_Price'].astype(float)
sneakers_data['Buyer_Region'] = sneakers_data['Buyer_Region'].astype('string')

In [ ]:
#Renameing columns
sneakers_data = sneakers_data.rename(columns={'Resale_Price':'Resale_Price_USD','Retail_Price':'Retail_Price_USD'})

In [ ]:
#Adding new column to categorize the US states into regions
us_region_dict = {'Maine':'Northeast', 'New Hampshire':'Northeast', 'Vermont':'Northeast', 'Massachusetts':'Northeast', 'Rhode Island':'Northeast', 'Connecticut':'Northeast','New York':'Northeast', 'New Jersey':'Northeast', 'Pennsylvania':'Northeast','Ohio':'Midwest', 'Michigan':'Midwest', 'Indiana':'Midwest', 'Wisconsin':'Midwest', 'Illinois':'Midwest', 'Minnesota':'Midwest', 'Iowa':'Midwest', 'Missouri':'Midwest', 'North Dakota':'Midwest', 'South Dakota':'Midwest', 'Nebraska':'Midwest', 'Kansas':'Midwest', 'District of Columbia':'South','Delaware':'South', 'Maryland':'South', 'Virginia':'South', 'West Virginia':'South', 'Kentucky':'South', 'North Carolina':'South', 'South Carolina':'South', 'Tennessee':'South', 'Georgia':'South', 'Florida':'South', 'Alabama':'South', 'Mississippi':'South', 'Arkansas':'South', 'Louisiana':'South', 'Texas':'South','Oklahoma':'South','Montana':'West', 'Idaho':'West', 'Wyoming':'West', 'Colorado':'West', 'New Mexico':'West', 'Arizona':'West', 'Utah':'West', 'Nevada':'West', 'California':'West', 'Oregon':'West', 'Washington':'West', 'Alaska':'West', 'Hawaii':'West'}

sneakers_data['US_Region'] = sneakers_data['Buyer_Region'].replace(us_region_dict)
sneakers_data['US_Region'] = sneakers_data['US_Region'].astype('category')
sneakers_data['Brand'] = sneakers_data['Brand'].astype('category')
sneakers_data['Designer'] = sneakers_data['Designer'].astype('category')

#Adding a new column calculating the profit i.e. the difference between the retail and resale price
sneakers_data['Profit_USD'] = sneakers_data['Resale_Price_USD'] - sneakers_data['Retail_Price_USD']

In [ ]:
sneakers_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99956 entries, 0 to 99955
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Brand                  99956 non-null  category
 1   Designer               99956 non-null  category
 2   Sneaker_Name           99956 non-null  string
 3   Shoe_Size              99956 non-null  float64
 4   Release_Date           99956 non-null  datetime64[ns]
 5   Retail_Price_USD       99956 non-null  float64
 6   Order_Date             99956 non-null  datetime64[ns]
 7   Year                   99956 non-null  int64
 8   Calendar_Quarter       99956 non-null  object
 9   Order_Period (Q-YYYY)  99956 non-null  object
 10  Resale_Price_USD       99956 non-null  float64
 11  Buyer_Region           99956 non-null  string
 12  Hold_Period_In_Days    99956 non-null  int64
 13  US_Region              99956 non-null  category
 14  Profit_USD             99956 non-null  float64
dtypes: category(3), datetime64[ns](2), float64(4), int64(2), object(2), string(2)
memory usage: 9.4+ MB

In [ ]:
sneakers_data.head(10)

    Brand Designer  ...  US_Region  Profit_USD
0  Adidas    Yeezy  ...       West       877.0
1  Adidas    Yeezy  ...       West       465.0
2  Adidas    Yeezy  ...       West       470.0
3  Adidas    Yeezy  ...      South       855.0
4  Adidas    Yeezy  ...  Northeast       608.0
5  Adidas    Yeezy  ...    Midwest       578.0
6  Adidas    Yeezy  ...       West       564.0
7  Adidas    Yeezy  ...  Northeast       240.0
8  Adidas    Yeezy  ...    Midwest       245.0
9  Adidas    Yeezy  ...      South       245.0

[10 rows x 15 columns]

#Checking the number of unqiue elements in each feature

In [ ]:
sneakers_data.nunique()

Brand                       2
Designer                    2
Sneaker_Name               50
Shoe_Size                  26
Release_Date               35
Retail_Price_USD            8
Order_Date                531
Year                        3
Calendar_Quarter            4
Order_Period (Q-YYYY)       7
Resale_Price_USD         1489
Buyer_Region               51
Hold_Period_In_Days      1161
US_Region                   4
Profit_USD               1556
dtype: int64

#Dropping any feature with only one unique item

In [ ]:
sneakers_data = sneakers_data.dropna(axis=1,how='all')

In [ ]:
len(sneakers_data.columns)

15

#Checking if any feature has null values

In [ ]:
missing_values = [np.nan,' ', None]
sneakers_data.isin(missing_values).mean().sort_values(ascending = False)*100

Brand                    0.0
Designer                 0.0
Sneaker_Name             0.0
Shoe_Size                0.0
Release_Date             0.0
Retail_Price_USD         0.0
Order_Date               0.0
Year                     0.0
Calendar_Quarter         0.0
Order_Period (Q-YYYY)    0.0
Resale_Price_USD         0.0
Buyer_Region             0.0
Hold_Period_In_Days      0.0
US_Region                0.0
Profit_USD               0.0
dtype: float64

#Data Enconding of categorical column

In [ ]:
sneakers_data_encode2 = pd.get_dummies(sneakers_data,drop_first=True)

sneakers_data_encode2

                                        Sneaker_Name  ...  US_Region_West
0               Adidas-Yeezy-Boost-350-Low-V2-Beluga  ...               1
1        Adidas-Yeezy-Boost-350-V2-Core-Black-Copper  ...               1
2         Adidas-Yeezy-Boost-350-V2-Core-Black-Green  ...               1
3           Adidas-Yeezy-Boost-350-V2-Core-Black-Red  ...               0
4      Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017  ...               0
...                                              ...  ...             ...
99951    adidas-Yeezy-Boost-350-V2-Static-Reflective  ...               1
99952    adidas-Yeezy-Boost-350-V2-Static-Reflective  ...               1
99953    adidas-Yeezy-Boost-350-V2-Static-Reflective  ...               0
99954    adidas-Yeezy-Boost-350-V2-Static-Reflective  ...               1
99955    adidas-Yeezy-Boost-350-V2-Static-Reflective  ...               0

[99956 rows x 24 columns]

In [ ]:
#Splitty column to independent and dependent variables
x = sneakers_data_encode2[['Brand_Nike','Shoe_Size','Retail_Price_USD','Hold_Period_In_Days','Calendar_Quarter_Q2','Calendar_Quarter_Q3','Calendar_Quarter_Q4','US_Region_Northeast','US_Region_South','US_Region_West']]
y = sneakers_data_encode2['Resale_Price_USD']

In [ ]:
#Splitting columns into training and test data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.75)

#Scaling columns using standard scaler. Scaling shoe size since the data does not distinguish between womens, mens, grade school shoe size. Scaling retail price since both brands have different retail prices for different silhouettes

In [ ]:
from sklearn.preprocessing import StandardScaler
ac = StandardScaler()
x_train[['Shoe_Size','Retail_Price_USD']] = ac.fit_transform(x_train[['Shoe_Size','Retail_Price_USD']])
x_test[['Shoe_Size','Retail_Price_USD']] = ac.transform(x_test[['Shoe_Size','Retail_Price_USD']])

In [ ]:
#Checking for multicollinearity
from statsmodels.stats.outliers_influence import variance_inflation_factor
  
# the independent variables set
x = sneakers_data_encode2[['Brand_Nike','Shoe_Size','Retail_Price_USD','Hold_Period_In_Days','Calendar_Quarter_Q2','Calendar_Quarter_Q3','Calendar_Quarter_Q4','US_Region_Northeast','US_Region_South','US_Region_West']]
  
# VIF dataframe
vif_data = pd.DataFrame()
vif_data["feature"] = x.columns
  
# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(x.values, i)
                          for i in range(len(x.columns))]
  
print(vif_data)

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

               feature        VIF
0           Brand_Nike   1.771915
1            Shoe_Size  16.027859
2     Retail_Price_USD  22.872582
3  Hold_Period_In_Days   1.883077
4  Calendar_Quarter_Q2   1.554018
5  Calendar_Quarter_Q3   1.730114
6  Calendar_Quarter_Q4   2.803984
7  US_Region_Northeast   3.175547
8      US_Region_South   2.834176
9       US_Region_West   3.482108

In [ ]:
#Using linear regression
#Import machine learning algorithm
from sklearn.linear_model import LinearRegression
#Import metric
from sklearn.metrics import mean_absolute_error
#Create model object
linear_regressor = LinearRegression()
#Fit our model object to our data (this is the training phase)
linear_regressor.fit(x_train,y_train)
#create prediction with newly trained model
linear_prediction = linear_regressor.predict(x_test)
#Measure the efficacy of your algorithm using your metric
mean_absolute_error(y_test, linear_prediction)

132.85442061609217

In [ ]:
mean_absolute_error(y_test, linear_prediction)/y_test.mean()

0.2964852672507896

#Random Forest

In [ ]:

#Import machine learning algorithm
from sklearn.ensemble import RandomForestRegressor
#Import accuracy score
from sklearn.metrics import accuracy_score
#Import metric
from sklearn.metrics import mean_absolute_error
#Create model object
random_forest_regressor = RandomForestRegressor(n_estimators = 1000)
#Fit our model object to our data (this is the training phase)
random_forest_regressor.fit(x_train,y_train)
#create prediction with newly trained model
random_forest_prediction = random_forest_regressor.predict(x_test)
#Measure the efficacy of your algorithm using your metric
mean_absolute_error(y_test, random_forest_prediction)

62.530445267674196

In [ ]:
mean_absolute_error(y_test, random_forest_prediction)/y_test.mean()

0.13954639740645297

In [ ]:
#Hypertuning our random forest model since it is the best performing model
from sklearn.model_selection import GridSearchCV
# https://towardsdatascience.com/hyperparameter-tuning-the-random-forest-in-python-using-scikit-learn-28d2aa77dd74

n_estimators = [1500, 1600]
# Number of features to consider at every split
max_features = ['auto']
# Maximum number of levels in tree
max_depth = [80, 90]
# Minimum number of samples required to split a node
min_samples_split = [5]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1]
# Method of selecting samples for training each tree
bootstrap = [True]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
random_grid

{'bootstrap': [True],
 'max_depth': [80, 90],
 'max_features': ['auto'],
 'min_samples_leaf': [1],
 'min_samples_split': [5],
 'n_estimators': [1500, 1600]}

In [ ]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = GridSearchCV(estimator = rf, param_grid = random_grid, cv = 3, verbose=2, n_jobs = -1)
# Fit the random search model
rf_random.fit(x_train, y_train)

Fitting 3 folds for each of 4 candidates, totalling 12 fits

/usr/local/lib/python3.7/dist-packages/joblib/externals/loky/process_executor.py:705: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

GridSearchCV(cv=3, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'bootstrap': [True], 'max_depth': [80, 90],
                         'max_features': ['auto'], 'min_samples_leaf': [1],
                         'min_samples_split': [5],
                         'n_estimators': [1500, 1600]},
             verbose=2)

In [ ]:
#getting the list of paramters
rf_random.best_params_

{'bootstrap': True,
 'max_depth': 80,
 'max_features': 'auto',
 'min_samples_leaf': 1,
 'min_samples_split': 5,
 'n_estimators': 1600}

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

perfect_random_forest = RandomForestRegressor(n_estimators=1600, min_samples_split=5, min_samples_leaf=1, max_features='auto', max_depth=90, bootstrap=True)
perfect_random_forest.fit(x_train, y_train)

perfect_random_forest_predictions = perfect_random_forest.predict(x_test)

mean_absolute_error(y_test, perfect_random_forest_predictions)

61.58989959300619

In [ ]:
mean_absolute_error(y_test, perfect_random_forest_predictions)/y_test.mean()

#Using XGBoost

In [ ]:
#Import machine learning algorithm
from xgboost import XGBRegressor
#Import metric
from sklearn.metrics import mean_absolute_error
#Create model object
boost_model = XGBRegressor()
#Fit our model object to our data (this is the training phase)
boost_model.fit(x_train,y_train)
#create prediction with newly trained model
boost_prediction = boost_model.predict(x_test)
#Measure the efficacy of your algorithm using your metric
mean_absolute_error(y_test, boost_prediction)

In [ ]:
mean_absolute_error(y_test, boost_prediction)/y_test.mean()

#Using K-NN

In [ ]:
sneakers_data_encode = sneakers_data.copy()
dummies = pd.get_dummies(sneakers_data_encode['US_Region'], prefix='Region')
dummies_2 = pd.get_dummies(sneakers_data_encode['Brand'], prefix='Brand')
sneakers_data_encode = pd.concat([sneakers_data_encode,dummies_2,dummies], axis='columns')

In [ ]:
sneakers_data_encode.head()

In [ ]:
sneakers_data_encode_final = sneakers_data_encode.drop(columns ={'Designer','Sneaker_Name','Release_Date','Order_Date','Year','Calendar_Quarter','Order_Period (Q-YYYY)','Buyer_Region','Profit_USD','Brand','Brand_Adidas','US_Region','Region_South'})

In [ ]:
sneakers_data_encode_final.head()

In [ ]:
import seaborn as sns
sns.pairplot(sneakers_data_encode_final, hue='Resale_Price_USD')

In [ ]:
#Splitty column to independent and dependent variables
X = sneakers_data_encode_final[['Brand_Nike','Shoe_Size','Retail_Price_USD','Hold_Period_In_Days','Region_Midwest','Region_Northeast','Region_West']]
Y = sneakers_data_encode_final['Resale_Price_USD']

In [ ]:
#Using K-Neareast
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, random_state =5)
knnclassifier = KNeighborsClassifier(n_neighbors = 5)
knnclassifier.fit(X_train,Y_train)
Y_pred = knnclassifier.predict(X_test)
metrics.accuracy_score(Y_test,Y_pred)

In [ ]:
#Using cross validation
from sklearn.model_selection import cross_val_score
knnclassifier = KNeighborsClassifier(n_neighbors=5)
print(cross_val_score(knnclassifier, X, Y, cv=5, scoring ='accuracy').mean())